@use "variables" as v;

@mixin phone() {
    @media only screen and (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet() {
    @media only screen and (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop() {
    @media only screen and (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktop_xl() {
    @media only screen and (min-width: v.$desktop_xl) {
        @content;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin button($color, $display) {
    background-color: $color;
    color: white;
    font-weight: v.$bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc(v.$gap / 2);
    display: $display;
    border: none;
    &:hover {
        background-color: darken($color, 5);
        cursor: pointer;
    }
}