@use "helpers/variables" as v;
@use "helpers/mixins" as m;

table.properties {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    thead {
        background-color: v.$green;
        th {
            color: v.$white;
            padding: 2rem;
        }
    }
    .image-table {
        width: 20rem;
        height: auto;
        margin: 0 auto;
    }
}