@use "helpers/variables" as v;
@use "helpers/mixins" as m;

.aboutus > .aboutus-image {
    height: auto;
}

.aboutus {
    @include m.tablet {
        @include m.grid(2, 2rem);
        align-items: center;
    }
}

.aboutus-text blockquote {
    font-weight: v.$bold;
    font-size: 2.2rem;
    margin: 0;
    padding: 1rem 0 1rem 0;   
}